body 
{
margin: 0;
padding: 0;
background-color: antiquewhite;    
}
.app
{
width: 30%;
height: auto;
margin: auto;
padding: 10px;
background-color: black;
color: white;
margin-top: 5%;
border-radius: 15px;
}
.app h1 
{
text-align: left;    
font-size: 20px !important;
font-weight: 100 !important;    
}