body 
{
margin: 0;
padding: 0;
overflow-x: hidden;  
}
.app
{
width: 50%;
height: auto;
margin: auto;
font-size: 25px;
background-color: black;
color: white;
font-weight: 100;
padding: 25px;
margin-top: 5%;

}