body 
{
 background-color: aquamarine; 
}

.app 
{
width: 70%;
height: auto;
margin: auto;
margin-top: 10%;
}
.app h1 
{
font-size: 40px;
letter-spacing: 3px;  
}
.app button 
{
width: 15%;
height: auto;
margin: 2px;
padding: 12px;
font-size: 18px;
border: 0;
}
.product-grid 
{
width: 82%;
height: auto;
margin: 0;
padding: 0px;
display: flex;
flex-wrap: wrap;

}
.prod-app 
{
width: 20%;
height: auto;
margin: 8px;
padding: 5px;
background-color: white;
text-align: center;
}
.product-grid img
{
width: 80%;
height: 120px;  
}